<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jsonp mock - mock up your jsonp API with ease</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/mode-json.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-monokai.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
	<style type="text/css">
		body {
			padding: 70px 0 30px;
		}

		.container {
			width: 960px;
		}

		#json {
			height: 400px;
		}

		footer {
			text-align: center;
		}

		.strike {
			text-decoration: line-through;
		}

		#newMockURL {
			width: 450px;
		}

		#copy {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="javascript:void(0)">JSONP Mock</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0)"><%= totalMockCreated %> jsonp mock created</a></li>
					<li><a href="javascript:void(0)"><%= totalMockRequests %> mock request served</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputCharset" class="col-sm-2 control-label">Charset</label>
				<div class="col-sm-10">
					<select class="form-control" id="inputCharset">
					 	<option value="utf-8">UTF-8</option>
						<option value="gbk">GBK</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="inputResponseDelay" class="col-sm-2 control-label">Response Delay</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputResponseDelay" placeholder="time to wait before the server send you the mock data, default to 0, max 10000ms">
				</div>
			</div>
			<div class="form-group">
				<label for="inputJSONResponse" class="col-sm-2 control-label">JSON Response</label>
				<div class="col-sm-10">
					<div id="json"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="format" class="btn btn-primary">Format</button>
					<button id="create" type="submit" class="btn btn-success">Mock it !</button>
				</div>
			</div>
		</form>
	</div>

	<div id="mockCreated" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Your jsonp mock has been created</h4>
	      </div>
	      <div class="modal-body">
	      	<h4>You can access it at:</h4>
	        <form class="form-inline">
	          <div class="form-group">
	            <div class="input-group">
	              <input id="newMockURL" type="text" class="form-control">
	              <div id="copy" class="input-group-addon" data-clipboard-target="#newMockURL" data-toggle="tooltip" data-trigger="mannual" data-container="body" data-placement="bottom">Copy</div>
	            </div>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<footer>Made with <span class="strike">love</span> coke by <a href="https://github.com/loveky" target="_blank">@loveky</a></footer>
	<footer><a href="https://github.com/loveky/jsonpmock" target="_blank">Fork me!</a></footer>
	<script type="text/javascript">
		// Init ACE editor
		var editor = ace.edit("json");
	    editor.setTheme("ace/theme/monokai")
	    editor.setFontSize(14);		
	    editor.getSession().setMode("ace/mode/json");
	    editor.getSession().setTabSize(4);

	    var tooltipTimer = null;
		new Clipboard('#copy')
			.on('success', function () {
				clearTimeout(tooltipTimer);
				$('#copy')
					.data('title', 'Copied!')
					.tooltip('show');
				tooltipTimer = setTimeout(function () {
					$('#copy').tooltip('hide');
				}, 1000);
			})
			.on('error', function () {
				clearTimeout(tooltipTimer);
				$('#copy')
					.data('title', 'Legacy browser, use Ctrl-C to copy')
					.tooltip('show');
				tooltipTimer = setTimeout(function () {
					$('#copy').tooltip('hide');
				}, 1000);
			});

	    // Submit to server
	    $('#create').on('click', function (event) {
	    	event.preventDefault();
	    	var content = $.trim(editor.getValue());

	    	if (content === '') {
	    		alert('Please set JSON response');
	    		return;
	    	}

	    	if (content.length > 200000) {
	    		alert('Mock data is limited to 200KB');
	    		return false;
	    	}

	    	if (editor.session.getAnnotations().length !== 0) {
	    		alert('Oops, seems you have syntax error in your JSON response!');
	    		return;
	    	}

	    	$.post('/', {
	    		charset: $('#inputCharset').val(),
	    		delay: $('#inputResponseDelay').val(),
	    		content: editor.getValue()
	    	}, 'json').then(function (response) {
	    		$('#newMockURL').val(window.location.href.replace(/\/$/, '') + response.path);
	    		$('#mockCreated').modal('show');
	    	});
	    });

	    $('#newMockURL').on('click', function () {
	    	$(this).select();
	    });

	    // Format JSON code
	    $('#format').on('click', function (event) {
	    	event.preventDefault();
	    	var val = editor.session.getValue();
	    	var o = JSON.parse(val);
	    	val = JSON.stringify(o, null, 4);
	    	editor.session.setValue(val);
	    });

	    // validate response delay field
	    $('#inputResponseDelay').on('blur', function () {
	    	var $this = $(this);
	    	var value = $this.val();
	    	if (value !== '') {    		
		    	value = toNumber(value, 0, 10000);
		    	$this.val(value);
	    	}
	    });

	    // helper
	    function toNumber(string, min, max) {
	    	if (string.match(/^\s*\d+\s*$/)) {
	    		var value = parseInt(string, 10);
	    		
	    		if (value < min) {
	    			value = min;
	    		}

	    		if (value > max) {
	    			value = max;
	    		}

	    		return value;
	    	}
	    	else {
	    		return min;
	    	}
	    }
	</script>
</body>
</html>